.ErrorMessageValidation{
    position: absolute;
    right: 2%;
    color: rgb(255, 18, 18);
    width: 100%;
    font-size: 0.8rem;
    text-align: start;
    width: 90%;
}
@media (max-width:450px) {
    .ErrorMessageValidation{
        right: 3%;
        bottom: -32%;
        font-size: 0.7rem ;
    }
}